<div class="card">
  <div class="margin">
    <div class="list-group">
        <a class="list-group-item" routerLink="/applyLeaveRequest">
          Request Leaves
        </a>
        <a class="list-group-item " routerLink="/manageLeaveRequest">
          Manage Leaves
        </a>
        <div>
          <a class="list-group-item" routerLink="/">
            Admin
          </a>
          <a class="list-group-item" routerLink="/user">
            User
          </a>
          <a class="list-group-item" routerLink="/rolename">
            Role
          </a>
          <a class="list-group-item" routerLink="/department">
            Department
          </a>
          <a class="list-group-item" routerLink="/admin">
            LeaveType
          </a>
          <a class="list-group-item" routerLink="/status">
            Status
          </a>
          <a class="list-group-item" routerLink="/admin">
            Settings
         </a>
        </div>
        
         
        <!-- <a href="users.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users <span class="badge">203</span></a> -->
      </div>
    </div>
</div>



