<div class="row">
        <div class="col-sm-11">
            <div class="card">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="paddingformat">Status</h4>
                    </div>
                    <div class="col-sm-5">
                        <div class="paddingformat float-right">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#AddStatusModal">Add
                                Status</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-11">
            <div class="card">
                <!--Table-->
                <table class="table table-striped">
                    <thead>
                        <tr class="he1">
                            <th>Status ID</th>
                            <th>Status Name</th>
                            <!-- <th>Edit</th> -->
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let stas of status">
                            <td>{{stas.id}}</td>
                            <td>{{stas.status}}</td>
                            <!-- <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EditStatusModal"
                                    (click)="editStatus(stas)">Edit</button> -->
                            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#DeleteStatusModal"
                                    (click)="editStatus(stas)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    
    <!-- Modal for Add -->
    <div class="modal fade" id="AddStatusModal">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title">Confirmation</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <form #role1="ngForm">
                        <!-- <pre>{{role1.value | json}}</pre>
                                <pre>{{roleObj | json}}</pre> -->
                        <div class="form-horizontal">
                            <div class="inline">
                                <div class="row">
    
                                    <!-- <div class="form-group"> -->
                                    <label class="control-label col-lg-6">Status Name:</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="statusname" [(ngModel)]="statusObj.status">
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </form>
                </div>
                <!-- </form> -->
    
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="addStatus()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Modal for Edit -->
    <div class="modal fade" id="EditStatusModal">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title">Confirmation</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="inline">
                                <div class="row">
                                    <label class="control-label col-lg-6">Status ID:</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="Id" [(ngModel)]="editstatusObj.id"
                                            disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="inline">
                                <div class="row">
                                    <label class="control-label col-lg-6">Status Name:</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="statusname" [(ngModel)]="editstatusObj.status">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="updateStatusById()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Modal for Delete -->
    <div class="modal fade" id="DeleteStatusModal">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title">Confirmation</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <P>Do yout want to Delete?</P>
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="deleteStatusById(editstatusObj)">Yes</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>