<app-login *ngIf="!isLogedIn"></app-login>

<!-- <router-outlet></router-outlet> -->
<div class="container-fluid"  *ngIf="isLogedIn">
<div class="row">
    <div class="col-sm-12">
      <app-topnav [userName]="userNameParent"></app-topnav>
    </div>
  </div>
  
  <div class="paddingcard">
  </div>
  <div class="row">
    <div class="col-sm-2">
      <app-sidenav [userRole]="userRoleParent"></app-sidenav>
    </div>
    <div class="col-sm-10">
      <!-- <app-manage-leave-request></app-manage-leave-request> -->
      <!-- <app-admin></app-admin> -->
     
      <app-admin></app-admin>
    </div>
  </div>
  </div>
